<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="appmsw-gateway-sql.ZPM">
    <Module>
      <Name>appmsw-gateway-sql</Name>
      <Version>1.0.1</Version>
      <Description>Installation SQL Gateway Connections. Class path: postgresql-42.3.1.jar, mysql-connector-java-8.0.21.jar, sqljdbc42.jar, ojdbc6.jar</Description>
      <Keywords>jdbc</Keywords>
      <Author>
		<Person>Mikhaylenko Sergey</Person>
		<CopyrightDate>2022</CopyrightDate>
		<License>MIT</License>
		<Notes>
		repository:
		https://github.com/SergeyMi37/appmsw-gateway-sql
		description:
		Installation SQL Gateway Connections. Class path: postgresql-42.3.1.jar, mysql-connector-java-8.0.21.jar, sqljdbc42.jar, ojdbc6.jar.
		</Notes>
	  </Author>
      <Packaging>module</Packaging>
      <Resource Directory="cls" Name="appmsw.gateway.jdbc.CLS"/>
	  <FileCopy Name="jdbc" Target="${libdir}jdbc/"/>
      <SourcesRoot>src</SourcesRoot>
      <AfterInstallMessage>
&#13; You can see what instances of the %Library.SQLConnection class are in the module by running a command in the %SYS namespace:
&#13; %SYS>do ##class(appmsw.gateway.jdbc).ImportSQLConnection("view")

&#13; You can import a class %Library.SQLConnection instance in the %SYS namespace with the command:
&#13; %SYS>do ##class(appmsw.gateway.jdbc).ImportSQLConnection()
	 </AfterInstallMessage>
    </Module>
  </Document>
</Export>
